<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rakide.rasp_v" >

    <uses-sdk android:minSdkVersion="11" />

    <receiver
        android:name=".IncomingCallReceiver"
        android:label="Call Receiver" />

    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiallingActivity"
            android:label="@string/title_activity_dialling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CallingActivity"
            android:label="@string/title_activity_calling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IncomingActivity"
            android:label="@string/title_activity_incoming"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".UnsupportedActivity"
            android:label="@string/title_activity_unsupported_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainToDialingActivity"
            android:label="@string/title_activity_main_to_dialing"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainToIncomingActivity"
            android:label="@string/title_activity_main_to_incoming"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginToMainActivity"
            android:label="@string/title_activity_login_to_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
